@media all and (min-width: 480px) {
    .login {
      padding: 60px 0;
    }
  
    .login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }

  @media all and (min-width: 480px) {
    .sign {
      padding: 120px 0;
    }
  
    .sign form {
      margin: 0 auto;
      max-width: 320px;
    }
  }